.results{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    text-align: start;
    margin-top: 20px;
}
.results>.res_ans{
    display: flex;
    justify-content: space-between;
}
.results>.res_ans>p{
    /* border: 1px solid red; */
    font-size: 25px;
    font-weight: bold;
}
.results>.res_ans>button{
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}
.each_ele{
    /* border: 1px solid green; */
    background-color: rgb(192, 189, 189);
    height: auto;
    margin: 20px 0px;
    padding:10px 20px;
    border-radius: 10px;
    /* overflow-y: scroll; */
}