.main_head{
    height:50px;
    background-color: lightgreen;
    padding: 2px 50px;
    display: flex;
}
.img_box{
    height: auto;
    width: 45px;
    align-items: center;
}
.img_box>a>img{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
}
.login_box{
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-left: 70%;
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .main_head{
        padding: 2px 20px;
    }
    .login_box{
        width: 50%;
        margin-left: 60%;
        font-size: 17px;
    }
  }

@media screen and (max-width: 552px) {
    .main_head{
        padding: 2px 10px;
    }
    .login_box{
        width: 50%;
        margin-left: 40%;
        font-size: 15px;
    }
  }